body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#Full{
    color:red;
}

.Event{
    color:green;
    
}

.NegativeEvent{
    text-align: right;
    color:red;
}

#LexiconSmall
{
    position: relative;
    top: 10px;   
}

.breadcrumb { background-color:#D20013 !important; }
.breadcrumb li {font-size: 14px;}
.breadcrumb a {color: #FFFFFF !important;}
.breadcrumb a:hover {color: rgba(42, 100, 150, 1);}
.breadcrumb>.active {color: rgba(153, 153, 153, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\002F\00a0";}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF !important;
}

.panel > .panel-heading {    
    background-color: white !important;
    color: black !important;
    }