@{
    ViewBag.Title = "Confirm Email";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
